{% extends 'accounts/base_accounts.html' %}

{% load static %}

{% block title %}
Change password
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item active">Change password</li>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center logo my-4">
        <a href="{% url 'home' %}">Django Boards</a>
    </h1>
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Change password</h3>
                    <form method="post" novalidate>
                        {% csrf_token %}
                        {% include 'accounts/includes/form.html' %}
                        <button type="submit" class="btn btn-primary btn-block">Change password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}