{% extends 'accounts/base_accounts.html' %} 

{% load static %}

{% block title %}
Reset your password
{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %}

{% block body %}
  <div class="container">
    <h1 class="text-center logo my-4">
      <a href="{% url 'home' %}">Django Boards</a>
    </h1>
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10 col-sm-12">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Reset your password</h3>
            <p>Please enter your email address and we will send you a link to rest your password.</p>
            <form method="post" novalidate>
              {% csrf_token %}
              {% include 'accounts/includes/form.html' %}
              <button type="submit" class="btn btn-primary btn-block">Send password reset email</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}